html, body{
    margin: 0;
    padding: 0;
}


body {
    margin: 0 auto;
    max-width: 100%;
    height: 2044px;
    margin-top: 50px;
    background: #1B1924;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#publish-btn {
    width: 317px;
    height: 61px;
    border-radius: 8px;
    color: #04131C;
    background-color: #28A9F1;
    margin-bottom: 24px;
    font-weight: 700;
    font-family: Josefin Sans;
    font-weight: 700;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    border: none;
    outline: none;
}

#ul-el {
    top: 457px;
    list-style-type: none;
    padding-left: 0;
    margin-left: 3px;
    border: none;
    vertical-align: middle;
    width: 317px;
}

li {
    margin-bottom: 13px;
    color: #1B1924;
    background-color: #FFFFFF;
    border: none;
    padding: 12px 14px;
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
    display: flex;
    flex-direction: column;
    max-width: 317px;
}

.likes-ctn {
    
    gap: 200px;
    margin-top: -15px;
    margin-left: auto;
}

img {
    margin: 50px 0 17px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.heading {
    color: #FFFFFF;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

#heading {
    width: 272px;
    height: 25px;
    margin-bottom: 19px;
    font-weight: 700;
    font-size: 25px;
    line-height: 100%;
    letter-spacing: 0%;
}

textarea {
    width: 280px;
    height: 100px;
    border-radius: 8px;
    background: #444059;
    border: none;
    margin-top: 0;
    margin-bottom: 13px;
    font-family: Inter;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0%;
    color: #8F8F8F;
    background: #444059;
    text-align: left;
    vertical-align: top;
    line-height: 100%;
    outline: none;
    word-wrap: break-word;
    word-break: break-all;
    padding: 12px 18px;
    resize: none;
}

#sender-receiver {
    display: flex;
    align-items: center;
    gap: 9px;
    margin-bottom: 9px;
}

.from-to {
    width: 151px;
    height: 40px;
    border-radius: 8px;
    background-color: #444059;
    border: none;
    outline: none;
    font-family: Inter;
    font-weight: 400;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    color: #8F8F8F;
}


i{
    font-size: 15px;
    cursor: pointer;
    margin-right: 8px;
}

.fa-regular{
    color: #999;
}

.fa-solid{
    color: red;
}

.likes-count {
    font-size: 16px;
    font-weight: bold;
    margin-left: -7px;
    color: #000000;
}
